.button {
  width: 100%;
  border-radius: 40px;
  text-transform: uppercase;

  &--primary {
    @include primary-gradient;

    padding: 10px 0;
    transition: $basic-transition;
    border: unset;
    color: $white;

    &:hover {
      background: linear-gradient(90deg, $primary-dark 0%, $primary-dark 39%, $primary-dark 100%);
    }
  }

  &--secondary {
    border: 1px solid $primary;
  }
}
