.keywords-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  form {
    @include neumorphism-block;
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 450px;
    transition: $basic-transition;
    border-radius: 10px;

    background-color: $white-100;

    p {
      font-style: italic;
    }

    &:hover {
      border-top: 3px solid $pink;
    }
  }

  &__upload {
    padding: 15px;

    p {
      font-size: 0.875rem;
    }

    input {
      display: none;
    }
  }

  &__file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    border: 2px dashed $grey-300;
    color: $grey-300;
    font-size: 0.875rem;
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__submit {
    display: flex;
    margin-top: auto;

    input {
      width: 100%;
      height: 30px;
      border: unset;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: $pink;
      color: $white-100;
      text-transform: uppercase;
    }
  }
}
