.keywords-table {
  margin: 60px 0 120px;

  h2 {
    margin-bottom: 60px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    position: relative;

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &__card {
    @include neumorphism-block-cards;

    background-color: $white-100;
  }

  &__card-body {
    padding-top: 0.5rem;

    p {
      margin-bottom: 10px;
      font-size: 0.75rem;
      font-style: italic;
    }

    button {
      padding: 5px 10px;
      width: auto;
      font-size: 0.75rem;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;

    span {
      font-style: italic;
      color: $grey-300;
      font-size: 0.875rem;
    }
  }

  &__status {
    &--complete {
      color: #1C6758;
    }

    &--failed {
      color: $primary-dark;
    }

    &--in-progress {
      svg {
        width: 20px;
        transform-origin: center;
        animation: rotate 2s linear infinite;
      }

      circle {
        fill: none;
        stroke: #fc2f70;
        stroke-width: 5;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
      }
    }
  }

  &__line {
    @include secondary-gradient-background--1;

    left: 0;
    bottom: 0;
    position: absolute;
    height: 3px;
    width: 100%;
  }
}
